.postContent {
  @apply mt-4 leading-relaxed;
}

.postContent > * {
  @apply mt-3;
}

.postContent > h1,
.postContent > h2,
.postContent > h3,
.postContent > h4,
.postContent > h5 {
  @apply mt-6 !important;
}

.postContent blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #dfe2e5;
}
