.experiment-card {
  height: 100%;
}

.experiment-card-title {
  font-weight: bold;
}

.experiment-card-links {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 1.25rem;
}

.experiment-card-spinner {
  text-align: center;
}

.github-image {
  padding: 0.25rem 0.25rem 0rem;
}