@tailwind base;

body {
  @apply bg-gray-100 antialiased text-gray-900;
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-3xl;
}
h3 {
  @apply text-2xl;
}
h4 {
  @apply text-xl;
}
a {
  @apply text-blue-600 transition duration-150;
}
a:hover {
  @apply text-blue-800;
}

ul,ol {
  @apply list-outside ml-4;
}
ul {
  @apply list-disc;
}
ol {
  @apply list-decimal;
}

button {
  @apply bg-blue-600 px-2 py-1 rounded text-white transition duration-150;
}

button:focus {
  @apply outline-none shadow-outline;
}

button:hover {
  @apply bg-blue-400;
}

button:active {
  @apply bg-blue-800;
}

@tailwind components;

@tailwind utilities;

