body {
  background-color: #ebebeb;
}

.main-container {
  display: flex;
  flex-flow: column;
  background-color: white;
  max-width: 980px;
  border-radius: 10px;
  box-shadow: 4px 4px 8px 0px #adadad;
  margin-top: 5px;
  min-height: 98vh;
  padding-left: 0px;
  padding-right: 0px;
}

.navigation-top-bar {
  margin-left: 0px;
  margin-right: 0px;
}

.navigation-top-bar nav {
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  padding: 0.5rem 1.5rem;
}

.main-content {
  padding: 10px 30px 10px 30px;
  margin-left: 0px;
  margin-right: 0px;
}

.main-footer {
  flex-grow: 1;
  padding: 10px 30px 10px 30px;
  margin-left: 0px;
  margin-right: 0px;
}

.general-title {
  margin-bottom: 1.2rem;
}